*.[oa]
*.l[oa]
/config.*
/*.log
.deps
.libs
Makefile
Makefile.in
/AUTHORS
/COPYING
/ChangeLog
/INSTALL
/NEWS
/aclocal.m4
/autom4te.cache/
/configure
/configure.scan
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-*
/src/trietool
/regress/regress_file
/regress/regress_case
/regress/regress_prefix
